<div class="row">
	<div class="col-sm-6 sign_in">
		<h2 class="sign-head">Sign in</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="form-horizontal">
			<div class="form-group">
			  	<div class="col-sm-3 control-label">
				  <%= f.label :email %>
				</div>
				<div class="col-sm-3">
				  <%= f.email_field :email, :autofocus => true %>
				</div>
			</div>

			<div class="form-group">
			  	<div class="col-sm-3 control-label">
				  <%= f.label :password %>
				</div>
				<div class="col-sm-3">
				  <%= f.password_field :password %>
				</div>
			</div>

			<div class="form-group">
			  <% if devise_mapping.rememberable? -%>
				  <div class="col-sm-3 control-label">
				  	<%= f.label :remember_me %>
				  </div>
				  <div class="col-sm-3 box">
				  	<%= f.check_box :remember_me %>
				  </div>
			  <% end -%>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
				</div>
			  <div class="col-sm-3">
			  <%= f.submit "Sign in" %>
			  </div>
			</div>

			<% end %>

			<div class="col-sm-6 links">
			<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<h1 class="sign-head">Sign in to see your custom homepage</h1>
	</div>
</div>