<%= form_for(todo, html: {class: "form-inline row todo-form"}) do |f| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>
      <ul>
      <% todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <div class="form-group">
    <%= f.text_field :description %> 
  </div>
  <div class="checkbox btn">
    <%= f.check_box :completed %>
  </div>
    <div class="actions btn close">
    <%= link_to todo, method: :delete, data: { confirm: 'Are you sure?' } do %>
      &times;
    <% end %>
  </div>
<% end %>
