<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target='#navigation-collapse'>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="/">Homepage</a>
	</div> 
	<div class="collapse navbar-collapse" id="navigation-collapse">
		<ul class="nav navbar-nav">
			<li><a href="https://www.fastmail.fm/mail/Inbox/?u=d9c84107">Mail</a></li>
			<li><a href="http://www.bom.gov.au/weather/vic/forecasts/melbourne.shtml">Weather</a></li>
			<li><a href="http://www.facebook.com/">Social</a></li>
		</ul>
	</div>
</nav>
	<div class="container">
		<div class="has-success">
			<p class="help-block"><%= flash[:notice] %></p>
		</div>
		<div class="has-error">
			<p class="help-block"><%= flash[:error] %></p>
		</div>
		<%= yield %>
	</div>
</body>
</html>
