<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target='#navigation-collapse'>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="/">Homepage</a>
	</div> 
	<div class="collapse navbar-collapse" id="navigation-collapse">
		<ul class="nav navbar-nav">
		 	<li class="dropdown">
       		 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mail<b class="caret"></b></a>
        		<ul class="dropdown-menu">
					<li><a href="https://www.fastmail.fm/mail/Inbox/?u=d9c84107">Fastmail</a></li>
					<li><a href="https://mail.google.com/mail">Gmail</a></li>
				</ul>
			</li>
			<li class="dropdown">
       		 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Weather<b class="caret"></b></a>
        		<ul class="dropdown-menu">
					<li><a href="http://www.bom.gov.au/weather/vic/forecasts/melbourne.shtml">Forcast</a></li>
					<li><a href="http://www.bom.gov.au/products/IDR023.loop.shtml#skip">Radar</a></li>
				</ul>
			</li>
			<li class="dropdown">
       		 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social<b class="caret"></b></a>
        		<ul class="dropdown-menu">
					<li><a href="http://www.facebook.com/">Facebook</a></li>
					<li><a href="https://twitter.com/">Twitter</a></li>
					<li><a href="http://www.linkedin.com/">LinkedIn</a></li>
					<li><a href="https://plus.google.com/u/0/">Google+</a></li>
				</ul>
			</li>
			<li><a href="https://www.google.com/calendar/">Calander</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
	            <li><%= link_to current_user.email, edit_user_registration_path %></li>
	            <li><%= link_to "Log Out", logout_path %> </li>
            <% else %>
	            <li><%= link_to "Register",register_path %></li>
	            <li><%= link_to "Log in", login_path %></li>
            <% end %>
		</ul>
	</div>
</nav>
	<div class="container">
		 <% flash.each do |type, message| %>
            <div class="alert <%= flash_class type %>">
                <button class="close" data-dismiss="alert">x</button>
                <%= message %>
            </div>
        <% end %>
		<%= yield %>
	</div>
</body>
</html>
